<p-card>
  <ng-template pTemplate="header">
    <h2>User Management</h2>
  </ng-template>
  <ng-template pTemplate="content">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input type="text" pInputText placeholder="Search..." [(ngModel)]="searchQuery" (input)="filterUsers()">
    </div>
    <p-table [value]="filteredUsers" selectionMode="single" [(selection)]="selectedUser" (onRowSelect)="selectUser($event.data)" [paginator]="true" [rows]="10" [sortMode]="'multiple'">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
          <th pSortableColumn="userName">Username <p-sortIcon field="userName"></p-sortIcon></th>
          <th pSortableColumn="firstName">First Name <p-sortIcon field="firstName"></p-sortIcon></th>
          <th pSortableColumn="lastName">Last Name <p-sortIcon field="lastName"></p-sortIcon></th>
          <th pSortableColumn="postcode">Postcode <p-sortIcon field="postcode"></p-sortIcon></th>
          <th pSortableColumn="street">Street <p-sortIcon field="street"></p-sortIcon></th>
          <th pSortableColumn="streetnumber">Street Number <p-sortIcon field="streetnumber"></p-sortIcon></th>
          <th pSortableColumn="country">Country <p-sortIcon field="country"></p-sortIcon></th>
          <th pSortableColumn="loggedin">Logged In <p-sortIcon field="loggedin"></p-sortIcon></th>
          <th pSortableColumn="confirmed">Confirmed <p-sortIcon field="confirmed"></p-sortIcon></th>
          <th pSortableColumn="role">Role <p-sortIcon field="role"></p-sortIcon></th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.email }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.postcode }}</td>
          <td>{{ user.street }}</td>
          <td>{{ user.streetnumber }}</td>
          <td>{{ user.country }}</td>
          <td>{{ user.loggedin ? 'Yes' : 'No' }}</td>
          <td>{{ user.confirmed ? 'Yes' : 'No' }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button pButton type="button" icon="pi pi-pencil" (click)="selectUser(user)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <div *ngIf="selectedUser">
      <div *ngIf="editMode">
        <div class="p-fluid">
          <div class="p-field">
            <label for="email">Email</label>
            <input id="email" type="text" pInputText [(ngModel)]="selectedUser.email" disabled>
          </div>
          <div class="p-field">
            <label for="userName">Username</label>
            <input id="userName" type="text" pInputText [(ngModel)]="selectedUser.userName">
          </div>
          <div class="p-field">
            <label for="firstName">First Name</label>
            <input id="firstName" type="text" pInputText [(ngModel)]="selectedUser.firstName">
          </div>
          <div class="p-field">
            <label for="lastName">Last Name</label>
            <input id="lastName" type="text" pInputText [(ngModel)]="selectedUser.lastName">
          </div>
          <div class="p-field">
            <label for="postcode">Postcode</label>
            <input id="postcode" type="text" pInputText [(ngModel)]="selectedUser.postcode">
          </div>
          <div class="p-field">
            <label for="street">Street</label>
            <input id="street" type="text" pInputText [(ngModel)]="selectedUser.street">
          </div>
          <div class="p-field">
            <label for="streetnumber">Street Number</label>
            <input id="streetnumber" type="text" pInputText [(ngModel)]="selectedUser.streetnumber">
          </div>
          <div class="p-field">
            <label for="country">Country</label>
            <input id="country" type="text" pInputText [(ngModel)]="selectedUser.country">
          </div>
          <div class="p-field">
            <label for="role">Role</label>
            <p-dropdown id="role" [options]="roles" [(ngModel)]="selectedUser.role" optionLabel="label" optionValue="value"></p-dropdown>
          </div>
        </div>
        <button pButton type="button" label="Save" icon="pi pi-check" class="p-mr-2" (click)="saveUser()"></button>
        <button pButton type="button" label="Cancel" icon="pi pi-times" class="p-button-secondary" (click)="cancelEdit()"></button>
      </div>
      <div *ngIf="!editMode">
        <p><strong>Email:</strong> {{ selectedUser.email }}</p>
        <p><strong>Username:</strong> {{ selectedUser.userName }}</p>
        <p><strong>First Name:</strong> {{ selectedUser.firstName }}</p>
        <p><strong>Last Name:</strong> {{ selectedUser.lastName }}</p>
        <p><strong>Postcode:</strong> {{ selectedUser.postcode }}</p>
        <p><strong>Street:</strong> {{ selectedUser.street }}</p>
        <p><strong>Street Number:</strong> {{ selectedUser.streetnumber }}</p>
        <p><strong>Country:</strong> {{ selectedUser.country }}</p>
        <p><strong>Logged In:</strong> {{ selectedUser.loggedin ? 'Yes' : 'No' }}</p>
        <p><strong>Confirmed:</strong> {{ selectedUser.confirmed ? 'Yes' : 'No' }}</p>
        <p><strong>Role:</strong> {{ selectedUser.role }}</p>
        <button pButton type="button" label="Edit" icon="pi pi-pencil" (click)="editUser()"></button>
      </div>
    </div>
  </ng-template>
</p-card>
