<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Willkommen!</title>
    <style>

    </style>
</head>
<body>

    <form [formGroup]="signupForm">
        <div class="login-container">
        <input type="email" [formControl]="signupForm.controls.Email" placeholder="E-Mail-Adresse">
        <input type="text" [formControl]="signupForm.controls.Username" placeholder="Username">
        <input type="password" [formControl]="signupForm.controls.Password" placeholder="Password">
        <button class="signupFormButton" type="submit" value="Weiter" (click)="signUpProcess()">Login</button>
        <div class="footer">Sie haben bereits ein Konto? <a href="/login">Login</a></div>
        <div class="alternative"></div>
        <div class="social-login">
            <button><img src="../../assets/Google.png" alt="Google"><br>Mit Google fortfahren</button>
            <button><img src="../../assets/Microsoft.svg" alt="Microsoft"><br>Mit Microsoft-Konto fortfahren</button>
            <button><img src="../../assets/Apple.svg" alt="Apple"><br>Mit Apple fortfahren</button>
        </div>
    </div>
    </form>

</body>
</html>
