<p-panel header="User Menu">
    <div class="p-d-flex p-flex-column">
      <button pButton label="User Address" icon="pi pi-home" class="p-mb-2 p-button-info" (click)="navigate('user-address')"></button>
      <button pButton label="Payment Methods" icon="pi pi-credit-card" class="p-mb-2 p-button-info" (click)="navigate('payment-methods')"></button>
      <button pButton label="Settings" icon="pi pi-cog" class="p-mb-2 p-button-info" (click)="navigate('user-settings')"></button>
      <!-- Weitere Menüpunkte hier hinzufügen -->
    </div>
  </p-panel>
  