<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fancy HHC Vape</title>
  </head>
  <body>
    <div class="hero">
      <img src="../../assets/backgrounds/astronaut.jpg" alt="HHC Vape" />
    </div>
    <h1 style="text-align: center; color: #003366">
      HHC Vape – Vaping so out of this world, Elon would love it.
    </h1>
    <div class="products">
      <div class="product">
        <img src="../../assets/items/Amnesia Haze.webp" alt="Amnesia Haze" />
        <h3>Amnesia Haze | HHC Vape | 2.0 ML</h3>
        <p>AB 37,46€</p>
        <button (click)="addToCart('Amnesia Haze', 37.46)">
          In den Warenkorb
        </button>
      </div>
      <div class="product">
        <img
          src="../../assets/items/Gorilla Glue.webp"
          alt="Pineapple Express"
        />
        <h3>Pineapple Express | HHC Vape | 2.0 ML</h3>
        <p>AB 37,46€</p>
        <button (click)="addToCart('Pineapple Express', 37.46)">
          In den Warenkorb
        </button>
      </div>
      <div class="product">
        <img src="../../assets/items/OG Kush.webp" alt="Gorilla Glue" />
        <h3>Gorilla Glue | HHC Vape | 2.0 ML</h3>
        <p>AB 37,46€</p>
        <button (click)="addToCart('Gorilla Glue', 37.46)">
          In den Warenkorb
        </button>
      </div>
      <div class="product">
        <img src="../../assets/items/Pineapple Express.webp" alt="OG Kush" />
        <h3>OG Kush | HHC Vape | 2.0 ML</h3>
        <p>AB 37,46€</p>
        <button (click)="addToCart('OG Kush', 37.46)">In den Warenkorb</button>
      </div>
    </div>
  </body>
</html>
